body {
    background-color: #fffacd; color: #7b68ee ;
}
nav {align-self: auto; background-color:burlywood; }
h1 {
    background-color: #fff8dc; color: #ff00ff ;
}
#alex {
    background-color: #bdb76b; color:#00ff33 ;
}
.class {
    color:forestgreen ;
}